@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&family=Libre+Caslon+Display&display=swap');

:root {
  font-family: 'Barlow', 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;

  color: #C4CDD8;
  background-color: #0A0E14;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #5CE0D2;
  text-decoration: inherit;
}
a:hover {
  color: #4ABCB0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 2px solid #5CE0D2;
  outline-offset: 2px;
}

::selection {
  background: rgba(92, 224, 210, 0.2);
  color: #E6EBF0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0E1319;
}
::-webkit-scrollbar-thumb {
  background: #283848;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2A4050;
}
